@use "../../../styles";

.list {
    margin: 1rem;
    border: 1px solid;
    border-radius: 0.75rem;
    border-color: styles.$color-primary-88;

    box-shadow: rgba(0, 0, 0, 0.685) 7px 3px 16px 3px;
}

.list * {
    text-decoration: none;
    color: white;
}

.main-a {
    display: flex;
}

.img-title {
    height: 12rem;
    width: 12rem;
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
}

.infos {
    margin-left: 2.5rem;
}

.title {
    margin-top: 0.75rem;
}