<div class="view">
  <div class="top">
    <div class="controls">
      <p>Filter:</p>
      <label for="sortby">Sort by</label>
      <select name="sortby" [formControl]="sortBy">
        <option value="@random">pls select</option>
        <option value="id">id</option>
        <option value="updated">Updated</option>
        <option value="created">Created</option>
        <option value="age">Age</option>
      </select>
    </div>

    <div *ngIf="fossils">
      <div *ngFor="let fossil of fossils" class="list">
        <a href="/fossil/{{ fossil.id }}" class="main-a">
          <div class="left">
            <img
              src="{{ fossil.imageURL }}"
              alt="img from fossil"
              class="img-title"
            />
            <div class="details">
              <h3 class="title">{{ fossil.title }}</h3>
              <p class="desc">{{ fossil.description }}</p>
            </div>
          </div>
          <div class="infos">
            <p *ngIf="fossil.owner">Owner: {{ fossil.owner.username }}</p>
            <p>Age: {{ fossil.age }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="site-controls">
    <a
      class="previous"
      routerLink="/explore/{{ currentPage - 1 }}/{{ currentSort }}"
      >Previous Page</a
    >
    <a
      class="next"
      routerLink="/explore/{{ currentPage + 1 }}/{{ currentSort }}"
      >Next Page</a
    >
  </div>
</div>
