@use "../../../styles";

:host {
  display: flex;
  justify-content: center;
}

.view {
  display: flex;
  flex-direction: column;
  max-width: 175vmin;
  min-width: 100vmin;
}

@media (max-width: 1200px) {
  .view {
    width: 100%;
  }
}

.list {
  margin: 1rem;
  border: 1px solid;
  border-radius: 0.75rem;
  border-color: styles.$primary-button;
  box-shadow: rgba(0, 0, 0, 0.685) 7px 3px 16px 3px;
}

.list * {
  text-decoration: none;
  color: white;
}

.main-a {
  display: flex;
  justify-content: space-between;
}

.main-a .left {
  display: flex;
}

.img-title {
  height: 12rem;
  width: 12rem;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.details {
  margin-left: 2.5rem;
}

.infos {
  margin: 1rem;
}

@media (max-width: 750px) {
  .infos {
    display: none;
  }
}

.infos * {
  color: gray;
  margin: 0.5rem;
}

.title {
  margin-top: 0.75rem;
}

.controls {
  margin: 1rem;
  border-radius: 1rem;
  background-color: rgb(50, 50, 50);
  box-shadow: rgba(0, 0, 0, 0.4) 2px 1px 9px 1px;
}

.controls * {
  margin: 1rem;
  display: inline;
}

.site-controls {
  align-self: flex-end;
  margin-top: 3rem;
}

.site-controls * {
  color: styles.$text;
  text-decoration: none;
  background-color: styles.$secondary-button;
  margin: 1rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
}
