@use "../../../styles";

:host {
    display: flex;
    justify-content: center;
}

.view {
    flex-direction: column;
    max-width: 85vw;
    width: 150vmin;
    min-width: 75vmin;
}

@media (max-width: 1200px) {
    .view {
        width: 100%;
    }
    .gallery {
        height: 50vmax;
    }
}

.model {
    height: 100%;
    width: 96%;
}

.gallery {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}

button {
    background-color: styles.$color-secondary;
    border: none;
    height: 50%;
    color: white;
}

.img-counter {
    color: grey;
}
