@use "../styles";

header {
  display: flex;
  justify-content: space-between;
  background-color: styles.$secondary;
  margin: 0;
}

header .left h2 {
  margin: 0;
  padding: 2rem;
  cursor: pointer;
  color: styles.$text;
}

header .left span {
  background: linear-gradient(120deg, styles.$primary, styles.$accent);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .right {
  display: flex;
  align-items: center;
}

header .right a {
  margin: 1rem;
  color: white;
  text-decoration: none;
}
