html {
    font-size: 62.5%
}

body {
    font-size: 1.6rem;
    font-family: Lato;
}

/* ------------------------------------------- */

/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('assets/fonts/lato/Lato-Regular.ttf') format('truetype');
}
