$text: #e0f7ff;
$background: #000000;
$primary-button: #92aae7;
$secondary-button: #2f1e48;
$accent: #8757df;


html {
    font-size: 62.5%
}

body {
    font-size: 1.6rem;
    font-family: Lato, Sans-serif;
    background-color: $background;
    margin: 0;
}

p {
    color: $text;
}

/* ------------------------------------------- */

/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('assets/fonts/lato/Lato-Regular.ttf') format('truetype');
}
