$color-primary: #6ba9ff;
$color-primary-88: rgba($color-primary, 0.88);
$color-primary-50: rgba($color-primary, 0.50);

$color-secondary: #f2a649;
$color-secondary-88: rgba($color-secondary, 0.88);
$color-secondary-50: rgba($color-secondary, 0.50);

html {
    font-size: 62.5%
}

body {
    font-size: 1.6rem;
    font-family: Lato;
    background-color: rgb(28, 28, 30);
}

/* ------------------------------------------- */

/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('assets/fonts/lato/Lato-Regular.ttf') format('truetype');
}
